@media(max-width:1000px){
    .container{
        margin:0 50x;
    }
/*     .cell{
        width: 140px;
    }
    .imgg{
        width: 130px;
    }
    .text{
        width: 120px;
    }
    .footer__text{
        width:200px;
    }
    
    .btn2{
        padding: 10px 28px;
    }
    /* .content__btn1{
        display: flex;
    } */ */
}
/* @media(max-width:835px){
    .container{
        max-width: 600px;
    }
    .cell{
        width: 130px;
    }
    .imgg{
        width: 120px;
    }
    .text{
        width: 110px;
    }
    .footer__text{
        width:150px;
    }
    
}
@media(max-width:620px) {
    .container{
        max-width: none;
    }
    .cell{
        width: none;
    }
    .imgg{
        width: none;
    }
    .text{
        width: none;
    }
    .footer__text{
        width:none;
    }
    
} */
