@media(max-width:1000px){
    .review__cell{
        color: #050038;
        max-width: 200px;
        max-height: 150px;
        font-size: 14px;
        margin: 100px 25px;
        position: relative;
        
    }
    .review__logo{
        max-width: 30px;
        max-height: 30px;
    }
    .review__cell-username{
        color: #596068;display: flex;
        width: 30px;
        position: absolute;
        top: 15%;
        left: 20%;
        font-size: 12px;
    }
    .review__cell-username{
        width: 60px;
    }
}


@media(max-width:500px){
    .review__block{
        flex-wrap: wrap;
        margin: 0 auto;
    }
}


@media(max-width:370px) {
    
}
